* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
p,
b {
  color: rgb(0, 1, 35);
}

a {
  text-decoration: none;
}

.space {
  opacity: 0;
}