.nav_container {
  box-shadow: rgba(0, 0, 0, 0.0) 0px 5px 15px;
}

.menu_dropdown {
  box-shadow: rgba(0, 0, 0, 0) 0px 10px 15px;
}

.price-plans {
  top: 310%;
}

.header {
  height: 190%;
}

.header>.intro {
  height: 50%;
  width: 100%;
  background: url("../Img/Waves/courses-bg.svg")no-repeat center 55%/cover;
}

.header>.intro>.intro-sec {
  position: absolute;
  top: 5%;
  left: 0;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: 500ms;
}

.header>.intro>.intro-individual.hidden {
  left: -100%;
}

.header>.intro>.intro-student.hidden {
  left: 100%;
}

.header>.intro>.intro-sec .main-content,
.header>.intro>.intro-sec .img {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header>.intro>.intro-sec .main-content .main-content-container {
  height: 100%;
  width: 75%;
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.header>.intro>.intro-sec .main-content .main-content-container h3 {
  font-size: 2rem;
  color: #d31818;
  margin: 3px 0;
}


.header>.intro>.intro-sec .main-content .main-content-container h1 {
  font-size: 3.9rem;
  line-height: 110%;
  margin: 3px 0;
}

.header>.intro>.intro-sec .main-content .main-content-container a {
  background: rgb(48, 106, 194);
  width: 230px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  transition: 300ms;
}

.header>.intro>.intro-sec .main-content .main-content-container a:hover {
  box-shadow: rgba(50, 50, 93, 0.7) 0px 13px 27px -5px, rgba(0, 0, 0, 0.8) 0px 8px 16px -8px;
}

.header>.intro>.intro-sec .main-content .main-content-container a span {
  color: #ebebeb;
  font-size: 1.5rem;
  font-weight: 500;
  transition: 500ms;
}

.header>.intro>.intro-sec .main-content .main-content-container a:hover span {
  text-shadow:
    rgba(50, 50, 93, 0.9) 0px 2px 5px,
    rgba(0, 0, 0, 0.7) 0px 1px 3px;
}

.header>.intro>.intro-sec .main-content .main-content-container button {
  margin-top: 3%;
  font-size: 3rem;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #db6f16;
}

.header>.intro>.intro-sec .main-content .main-content-container button i {
  margin: 0 3%;
}

.header>.intro>.intro-sec .main-content .main-content-container button span {
  font-size: 16px;
  background: #db6f16;
  padding: 10px 5px;
  width: 250px;

}

.header>.intro>.intro-sec .main-content .main-content-container button span {
  color: #ffffff;
}

.header>.intro>.intro-sec .img {
  height: 100%;
  width: 50%;
}

.header>.intro>.intro-sec .img .backdrop {
  position: absolute;
  bottom: 110px;
  right: 12%;
  width: 80%;
  height: 70%;
  background-image:
    radial-gradient(#ebebeb 20%, transparent 20%);
  background-color: transparent;
  background-position: 0 0, 25px 25px;
  background-size: 12px 12px;
}

.header>.intro>.intro-sec .img img {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 80%;
  object-fit: cover;
}

.header>.main-price-plan {
  position: relative;
  height: 50%;
  width: 100%;
  background: #dfd630;
}

.header>.main-price-plan>.price-card-containers {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms 150ms;
}

.header>.main-price-plan>.price-inividual.hidden {
  left: -100%;
}

.header>.main-price-plan>.price-student.hidden {
  left: 100%;
}

.header>.main-price-plan>.price-card-containers .card-price-container {
  height: 100%;
  width: 88%;
}

.header>.main-price-plan>.price-inividual .card-price-container {
  background: transparent;
}

.header>.main-price-plan>.price-inividual .card-price-container .mini-nav {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.header>.main-price-plan>.price-inividual .card-price-container .mini-nav button {
  padding: 10px 5px;
  width: 130px;
  border: none;
  background: #fff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container {
  position: relative;
  height: 85%;
  width: 100%;
  overflow: hidden;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container.animateTransition::before {
  content: attr(data-content);
  position: absolute;
  width: 0%;
  font-size: 5vh;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: aliceblue;
  animation: transitionCard 1000ms;
  z-index: 99999;
}

@keyframes transitionCard {
  0% {
    height: 100%;
    width: 100%;
    opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }

  10% {
    opacity: 1;
  }

  50% {
    height: 100%;
    width: 100%;
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  80% {
    height: 100%;
    width: 100%;
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    height: 100%;
    width: 100%;
    opacity: 1;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}


.header>.main-price-plan>.price-inividual .card-price-container .card-container .card-container-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  transition: 200ms 500ms;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .card-container-content.hidden {
  left: -100%;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

/* .header>.main-price-plan>.price-inividual .card-price-container .card-container .price-card-section-beginner {
  background: #aa0404;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .price-card-section-intermediate {
  background: #0489aa;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .price-card-section-advanced {
  background: #2baa04;
} */


.header>.main-price-plan>.price-student .card-price-container {
  height: 100%;
  width: 88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .card-container-content .card,
.header>.main-price-plan>.price-student .card-price-container .card {
  position: relative;
  height: 100%;
  width: 24.5%;
  border-top: 7px solid #000;
  padding: 15px;
  background-image:
    radial-gradient(#e6e6e6cb 20%, transparent 20%);
  background-color: #ffffff;
  background-position: 0 0, 50px 50px;
  background-size: 10px 10px;
}

.header>.main-price-plan>.price-student .card-price-container .card {
  width: 30%;

}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .card-container-content .card.dummy,
.header>.main-price-plan>.price-student .card-price-container .card.dummy {
  visibility: hidden;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .card-container-content .card .card-wrapper,
.header>.main-price-plan>.price-student .card-price-container .card .card-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .card-container-content .card .card-wrapper h3,
.header>.main-price-plan>.price-student .card-price-container .card .card-wrapper h3 {
  font-size: 22px;
  width: 100%;
  border-bottom: 1px solid grey;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .card-container-content .card .card-wrapper .price-tag,
.header>.main-price-plan>.price-student .card-price-container .card .card-wrapper .price-tag {
  width: 100%;
  background: #db6f16;
  padding: 15px 5px;
  margin-top: 5%;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .card-container-content .card .card-wrapper .price-tag>h2,
.header>.main-price-plan>.price-student .card-price-container .card .card-wrapper .price-tag>h2 {
  font-size: 18px;
  color: #ebebeb;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .card-container-content .card .card-wrapper .price-tag>span,
.header>.main-price-plan>.price-student .card-price-container .card .card-wrapper .price-tag>span {
  background: #aa0404;
  padding: 5px 10px;
  margin: 5px 0;
  font-size: 20px;
  font-weight: 800;
  color: #ebebeb;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .card-container-content .card .card-wrapper .price-tag>h1,
.header>.main-price-plan>.price-student .card-price-container .card .card-wrapper .price-tag>h1 {
  font-size: 26px;
  color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .card-container-content .card .card-wrapper .price-tag>h1>span,
.header>.main-price-plan>.price-student .card-price-container .card .card-wrapper .price-tag>h1>span {
  font-size: 28px;
  color: #aa0404;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .card-container-content .card .card-wrapper span,
.header>.main-price-plan>.price-student .card-price-container .card .card-wrapper span {
  font-size: 9px;
  color: #8f8f8f;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .card-container-content .card .card-wrapper ul,
.header>.main-price-plan>.price-student .card-price-container .card .card-wrapper ul {
  margin-top: 5%;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .card-container-content .card .card-wrapper ul li,
.header>.main-price-plan>.price-student .card-price-container .card .card-wrapper ul li {
  margin: 0 15px;
  font-size: 17px;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .card-container-content .card .card-wrapper .links,
.header>.main-price-plan>.price-student .card-price-container .card .card-wrapper .links {
  position: absolute;
  bottom: 0;
  padding: 40px 0px;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .card-container-content .card .card-wrapper .links a,
.header>.main-price-plan>.price-student .card-price-container .card .card-wrapper .links a {
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 600;
  color: #ebebeb;
  border-radius: 5px;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .card-container-content .card .card-wrapper .purchase,
.header>.main-price-plan>.price-student .card-price-container .card .card-wrapper .purchase {
  background-color: #aa0404;
}

.header>.main-price-plan>.price-inividual .card-price-container .card-container .card-container-content .card .card-wrapper .more-info,
.header>.main-price-plan>.price-student .card-price-container .card .card-wrapper .more-info {
  background-color: #0489aa;
}





.sale-info {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dfd630;
  font-size: 12px;
}



.educational-option {
  height: 120%;
  background: #09bac0;
  overflow: hidden;
}

.educational-option>.wave {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../Img/Waves/register-bg-up.svg")no-repeat center top/cover;
  z-index: 99999;
}

.educational-option>.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 999;
}

.educational-option>.bg .c {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  border-radius: 100%;
  opacity: 0;
  background: #04a5aa;
  animation: pop 6500ms infinite;
}

.educational-option>.bg .c:nth-child(1) {
  animation-delay: 0ms;
}

.educational-option>.bg .c:nth-child(2) {
  animation-delay: 500ms;
}

.educational-option>.bg .c:nth-child(3) {
  animation-delay: 1000ms;
}

.educational-option>.bg .c:nth-child(4) {
  animation-delay: 1500ms;
}

.educational-option>.bg .c:nth-child(5) {
  animation-delay: 2000ms;
}

.educational-option>.bg .c:nth-child(6) {
  animation-delay: 2500ms;
}

.educational-option>.bg .c:nth-child(7) {
  animation-delay: 3000ms;
}


@keyframes pop {
  0% {
    height: 0px;
    width: 0px;
    opacity: 0.5;
  }

  85% {
    opacity: 0;
  }

  100% {
    height: 3000px;
    width: 3000px;
    opacity: 0;
  }
}

.educational-option>.edu-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 65%;
  width: 100%;
  padding: 5%;
  z-index: 99999999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.educational-option>.edu-container h1 {
  font-size: 5rem;
  line-height: 100%;
  color: aliceblue;
}

.educational-option>.edu-container h3 {
  font-size: 18px;
  color: aliceblue;
}

.educational-option>.edu-container a {
  margin-top: 25px;
  padding: 5px;
  background: #db6f16;
  color: antiquewhite;
  font-size: 18px;
}