.wrapper .nav-container {
  position: fixed;
  width: 100%;
  height: 20%;
  z-index: 9999;
  transition: 0.8s;
}

.wrapper .mobile-nav {
  visibility: hidden;
  display: none;
}

.wrapper .nav-container.sticky {
  background-color: #41644A;
  height: 10%;
}

.wrapper .nav-container .nav {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 60px 10px 0px;
}

.wrapper .nav-container .nav .logo-container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.wrapper .nav-container .nav .logo-container .logo {
  position: relative;
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
}

.wrapper .nav-container .nav .logo-container .logo img {
  position: absolute;
  left: 15%;
  height: 70%;
  width: 70%;
}

.wrapper .nav-container.sticky .nav .logo-container .logo img {
  left: 5%;
  height: 100%;
  width: 100%;
}

.wrapper .nav-container .nav .logo-container .title {
  transform: translate(-12%);
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: capitalize;
}

.wrapper .nav-container .nav .logo-container .title h1 {
  position: relative;
  color: #41644A;
  font-weight: 100;
  transition: 0.4s
}

.wrapper .nav-container.sticky .nav .logo-container .title h1 {
  font-size: 24px;
}

.wrapper .nav-container.sticky .nav .logo-container .title h1 {
  color: #ffffff;
}

.wrapper .nav-container .nav .logo-container .title h1::after {
  content: "";
  position: absolute;
  top: -5%;
  left: 0;
  height: 10%;
  width: 110%;
  background-color: #41644A;
  transform: 0.5s;
}

.wrapper .nav-container.sticky .nav .logo-container .title h1::after {
  top: 0%;
  width: 100%;
  background-color: #ffffff;
}

.wrapper .nav-container .nav .logo-container .title h1::before {
  content: "";
  position: absolute;
  bottom: -5%;
  left: 0;
  height: 10%;
  width: 70%;
  background-color: #41644A;
  transform: 0.5s;
}

.wrapper .nav-container.sticky .nav .logo-container .title h1::before {
  bottom: 0%;
  width: 100%;
  background-color: #ffffff;
}

.wrapper .nav-container .nav nav {
  position: relative;
  height: 100%;
  width: 50%;
}

.wrapper .nav-container .nav nav ul {
  position: absolute;
  right: -50px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.wrapper .nav-container .nav nav ul li {
  transform: translateX(35%);
  display: inline;
  padding: 4%;
}

.wrapper .nav-container .nav nav ul li a {
  position: relative;
  color: #41644A;
  z-index: 9999;
  text-decoration: none;
  padding: 5px 0;
  z-index: 999;
  padding: 5px;
  transition: color 0.2s 0.2s, padding 0.2;
}

.wrapper .nav-container .nav nav ul li a:hover {
  color: #ffffff;
}

.wrapper .nav-container.sticky .nav nav ul li a {
  color: #ffffff;
}

.wrapper .nav-container.sticky .nav nav ul li a:hover {
  color: #41644A;
}

.wrapper .nav-container .nav nav ul li a::after {
  content: "";
  color: #ffffff;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  height: 10%;
  width: 70%;

  background-color: #41644A;
  transition: 1s;
}

.wrapper .nav-container .nav nav ul li a:hover:after {
  width: 100%;
  height: 100%;
  transition: width 0.3s, height 0.3s 0.2s;
}

.wrapper .nav-container.sticky .nav nav ul li a::after {
  background-color: #ffffff;
}

.wrapper .nav-container .nav nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10%;
  width: 70%;
  background-color: #41644A;
  transition: 1s;
}

.wrapper .nav-container .nav nav ul li a:hover:before {
  width: 100%;
  transition: 0.6s;
}

.wrapper .nav-container.sticky .nav nav ul li a::before {
  background-color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .wrapper .nav-container {
    display: none;
  }

  .wrapper .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #41644A;
    z-index: 9999999;

    visibility: visible;
    display: block;

    padding: 10% 5%;
  }

  .wrapper .mobile-nav .ham {
    position: relative;
    height: 100%;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .wrapper .mobile-nav .ham h1 {
    font-size: 5rem;
  }


  .wrapper .mobile-nav .ham p {
    font-size: 4.5rem;
  }


}
