* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'JetBrains Mono', monospace;
  background: #F2E3DB;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  position: relative;
  height: 100%;
  width: 45%;
}

.home .poster {
  position: fixed;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%) !important;
  height: 80%;
  width: 80%;
}

.home .poster img {
  height: 100%;
  width: 100%;
}

.ref {
  height: 320%;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ref .content-continer {
  padding: 7%;
  height: 65%;
  width: 90%;
  background-color: #41644A;
  border-radius: 50px;
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.ref .content-continer .box {
  width: 100%;
  background-color: #263A29;
  margin: 10px 0 10px 0;
  display: block;
  overflow: hidden;
  padding: 4%;
  border-radius: 15px;
  color: #fff;
}

.ref .content-continer .box h1 {
  width: 100%;
  overflow-wrap: break-word;
}

.ref .content-continer .box h1 {
  font-size: 20px;
}

.ref .content-continer .box h1 a {
  color: #fff;
  font-size: 18px;
  display: inline;
}